@font-face
{
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: normal;
	src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('PT_Sans-Narrow-Web-Regular.woff') format('woff');
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus
{
	outline: 0;
}

html
{
	font-family: "PT Sans Narrow", "Myriad Pro", Myriad, Arial, sans-serif;
	font-size: 16px;
}
body
{
	background: url("../images/background.png");
	color: #DDD;
}
a
{
	color: inherit;
	text-decoration: inherit;
}
pre
{
	font-size: 10pt;
	font-family: "Courier New", monospace;
}
h1
{
	font-size: 28px;
	line-height: 34px;
}
p
{
	text-indent: 1em;
}
a img
{
	border: 0;
}
.clear
{
	clear: both;
}

#navigation
{
	line-height: 80px;
	text-align: center;
	border-bottom: 8px solid #222;
	padding: 0 100px;
}
#navigation, .download
{
	font-weight: normal;
	font-size: 24px;
}
#navigation *
{
	vertical-align: middle;
}
#navigation a, .download
{
	color: #FFF;
	text-decoration: none;
	padding: 15px;
}
#navigation a:hover, .download a,
	body#inspector .inspector.link,
	body#decompiler .decompiler.link,
	body#debugger .debugger.link
{
	background-color: #a4da22;
	color: #000;
}
#navigation a.logo
{
	font-size: 0;
}
#navigation a.logo:hover
{
	background-color: inherit;
}

#body
{
	background-color: #292929;
	width: 850px;
	margin: 0 auto;
	padding: 17px 25px;
}
#body a
{
	color: #a4da22;
}
#body em
{
	font-style: italic;
	text-transform: uppercase;
	margin-right: 0.1em;
}
#body a:hover
{
	color: #DDD;
}

#body-background
{
	width: 100%;
	background-color: #333;
}

#footer
{
	padding: 8px 0 10px;
	text-align: center;
	border-top: 8px solid #222;
}
body#inspector #body>.column
{
	width: 200px;
	margin: 10px;
	float: left;
	background-color: #111;
}
.section
{
	margin-bottom: 25px;
	line-height: 24px;
	background-color: #333;
	padding: 20px;
}
.section.left img
{
	float: left;
	margin-right: 50px;
}
.section.right img
{
	float: right;
	margin-left: 50px;
}
.section.last
{
	margin-bottom: 0;
}
.section.github
{
	background-color: #ddd;
	color: #333;
    border-radius: 4px;
	width: 480px;
	margin-right: 20px;
	float: left;
}
.section.github h1
{
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
.section.github h1 a
{
	color: #666 !important;
}
.section.github h1 a, .section.twitter h1 a
{
	font-size: 18px;
}
.section.twitter
{
    background-color: #eee;
	color: #333;
    border-radius: 4px;
	width: 269px;
	float: left;
}
.section.twitter h1
{
	color: #333;
}
.section.twitter h1 a
{
	color: #2FC2EF !important;
}
body#inspector .screenshot
{
	width: 300px;
}
.description
{
	line-height: 1.5em;
	font-size: 16px;
}
.download
{
	text-align: center;
	margin-bottom: 8px;
}
#inspector-badge, #debugger-badge
{
	float: right;
    margin-left: 10px;
}
.commit, .tweet
{
	margin: 5px 0;
	padding: 10px;
	border-top: 1px solid #ccc;
}
.commit
{
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	border-radius: 4px;
	background-color: #d0d0d0;
}
.commit .date
{
	float: right;
	margin-left: 10px;
    color: #666666 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
.commit .message, .tweet .message
{
	font-size: 20px;
}
.tweet .date
{
	color: #999;
	font-size: 14px;
}
.tweet:last-child
{
	border-bottom: 1px solid #ccc;
}
.loading
{
	text-align: center;
}
