@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

global
{
	color: #B7BABC;
	chrome-color: #222222;
	accent-color: #FF0000;
	text-roll-over-color: #999999;
	text-selected-color: #AAAAAA;
	focus-color: #a4da0a;

	font-family: MyriadBoldEmbedded;
	font-lookup: embeddedCFF;
	font-size: 16px;
	content-background-color: #383733;
}

@font-face
{
	src: url('MyriadPro-Light_0.otf');
	fontFamily: MyriadLightEmbedded;
	embedAsCFF: false;
}

@font-face
{
	src: url('MyriadPro-BoldCond.otf');
	fontFamily: MyriadBoldEmbedded;
	embedAsCFF: false;
}

@font-face
{
	src: url('visitor1.ttf');
	fontFamily: PixelFont;
	embedAsCFF: false;
}

mx|WindowedApplication
{
	background-color: #1A1307;
}

mx|DataGrid
{
	alternating-item-colors: #383733, #3f3e3a;
	vertical-grid-line-color: #000000;
	selection-color: #a4da0a;
	text-selected-color: #000000;
	roll-over-color: #a4da0a;
	text-roll-over-color: #000000;
}

mx|Alert
{
	modal-transparency: 0;
	modal-transparency-duration: 2000;
	modal-transparency-blur: 10;
	background-color: #222222;
}

mx|TextArea
{
	content-background-color: #383733;
}

mx|Button
{
	corner-radius: 0;
}

mx|NumericStepper
{
	content-background-alpha: 0;
	/*
	font-family: PixelFont;
	font-lookup: embeddedCFF;
	font-size: 10px;
	*/
	font-anti-alias-type: normal;
	font-grid-fit-type: pixel;
}

mx|ProgressBar
{
	font-weight: normal;
}

/*
mx|List
{
	content-background-color: #383733;
	roll-over-color: #a4da0a;
	text-roll-over-color: #000000;
	selection-color: #a4da0a;
}
*/
/*
.smallText
{
	font-family: PixelFont;
	font-lookup: embeddedCFF;
	font-size: 10px;
	font-anti-alias-type: normal;
	font-grid-fit-type: pixel;
}
*/
.bigText
{
	font-family: MyriadLightEmbedded;
	font-lookup: embeddedCFF;
	font-size: 32px;
}
