@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace ui "com.swfwire.debugger.ui.*";

global
{
	color: #B7BABC;
	chrome-color: #222222;
	accent-color: #999999;
	text-roll-over-color: #999999;
	text-selected-color: #AAAAAA;
	focus-color: #a4da0a;

	font-family: MyriadBoldEmbedded;
	font-lookup: embeddedCFF;
	font-size: 16px;
	content-background-color: #383733;
}

@font-face
{
	src: url('MyriadPro-Light_0.otf');
	fontFamily: MyriadLightEmbedded;
	embedAsCFF: false;
}

@font-face
{
	src: url('MyriadPro-BoldCond.otf');
	fontFamily: MyriadBoldEmbedded;
	embedAsCFF: false;
}

@font-face
{
	src: url('visitor1.ttf');
	fontFamily: PixelFont;
	embedAsCFF: false;
}

mx|WindowedApplication
{
	background-color: #1A1307;
}

mx|DataGrid
{
	alternating-item-colors: #383733, #3f3e3a;
	vertical-grid-line-color: #000000;
	selection-color: #a4da0a;
	text-selected-color: #000000;
	roll-over-color: #a4da0a;
	text-roll-over-color: #000000;
}

mx|Alert
{
	modal-transparency: 0;
	modal-transparency-duration: 2000;
	modal-transparency-blur: 10;
	background-color: #222222;
}

mx|TextArea
{
	content-background-color: #383733;
	focus-thickness: 0;
}

mx|Button
{
	corner-radius: 0;
}

mx|NumericStepper
{
	content-background-alpha: 0;
	font-anti-alias-type: normal;
	font-grid-fit-type: pixel;
}

mx|ProgressBar
{
	font-weight: normal;
}

ui|SearchInput .button
{
	skin: Embed('x_normal.png');
	downSkin: Embed('x_over.png');
	overSkin: Embed('x_over.png');
}

.bigText
{
	font-family: MyriadLightEmbedded;
	font-lookup: embeddedCFF;
	font-size: 32px;
	padding-top: 8px;
	padding-left: 12px;
	padding-bottom: 10px;
	padding-right: 12px;
}

.logo
{
	skin: Embed('logo.png');
}
