<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="open source swf decompiler, open source flash decompiler, swf decompiler, flash decompiler, swf file format, swf debugger"/>
	<meta name="description" content="A collection of tools designed for expert Flash developers.  SWFWire Decompiler - a library for disassembly of AS3 swf files.  SWFWire Inspector - an application for decompilation of AS3 swf files.  SWFWire Debugger - an application for debugging of AS3 swf files."/>
	<meta name="google-site-verification" content="BrWF01YVdfLaCwV35DN22sxvo4NJ2XU5P0TzXn6bTlU"/>

	<link type="text/css" media="screen" rel="stylesheet" href="css/global.css"/>
	<link type="text/css" media="screen" rel="stylesheet" href="css/colorbox/colorbox.css" />
	<link type="text/css" media="screen" rel="stylesheet" href="css/shCoreCustom.css" />

	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.colorbox.js"></script>
	<script type="text/javascript" src="js/swfobject.js"></script>
	<script type="text/javascript" src="js/shCore.js"></script>
	<script type="text/javascript" src="js/shBrushAS3.js"></script>
	<script type="text/javascript" src="inspector-badge/install.js"></script>
	<script type="text/javascript" src="debugger-badge/install.js"></script>

	<title>{{page.title}} - SWFWire</title>

	<script type="text/javascript">
		$(document).ready(function(){
			$("a[rel='screenshot']").colorbox({maxWidth: "100%"});
		});
		SyntaxHighlighter.all();
	</script>

</head>
<body id="{{page.id}}">
	<div id="navigation">
		<a href="inspector" class="logo"><img class="logo" src="images/logo.png" alt="SWFWire.com"/></a>
		<a href="inspector" class="inspector link">Inspector</a>
		<a href="debugger" class="debugger link">Debugger</a>
		<a href="decompiler" class="decompiler link">Decompiler</a>

		<a href="http://github.com/magicalhobo/SWFWire" class="link">Source</a>
		<a href="http://magicalhobo.github.com/SWFWire/docs/SWFWireDecompiler/" class="link">LiveDocs</a>
		<a href="http://github.com/magicalhobo/SWFWire/wiki" class="link">Wiki</a>
		<a href="http://github.com/magicalhobo/SWFWire/issues" class="link">Bugs</a>
	</div>
	<div id="body-background">
		<div id="body">
{{content}}
		</div>
	</div>
	<div id="footer">
		<img src="images/contact.png" alt="SWFWire.com &copy; 2011"/>
	</div>
</body>
</html>
