<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="open source swf decompiler, open source flash decompiler, swf decompiler, flash decompiler, swf file format, swf debugger"/>
	<meta name="description" content="A collection of tools designed for expert Flash developers.  SWFWire Decompiler - a library for disassembly of AS3 swf files.  SWFWire Inspector - an application for decompilation of AS3 swf files.  SWFWire Debugger - an application for debugging of AS3 swf files."/>
	<meta name="google-site-verification" content="BrWF01YVdfLaCwV35DN22sxvo4NJ2XU5P0TzXn6bTlU"/>

	<link type="text/css" media="screen" rel="stylesheet" href="css/global.css"/>
	<link type="text/css" media="screen" rel="stylesheet" href="css/colorbox/colorbox.css" />
	<link type="text/css" media="screen" rel="stylesheet" href="css/shCoreCustom.css" />

	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.colorbox.js"></script>
	<script type="text/javascript" src="js/swfobject.js"></script>
	<script type="text/javascript" src="js/shCore.js"></script>
	<script type="text/javascript" src="js/shBrushAS3.js"></script>
	<script type="text/javascript" src="inspector-badge/install.js"></script>
	<script type="text/javascript" src="debugger-badge/install.js"></script>

	<title>SWFWire - {{page.title}}</title>

	<script type="text/javascript">
		$(document).ready(function(){
			$("a[rel='screenshot']").colorbox({maxWidth: "100%"});
		});
		SyntaxHighlighter.all();
	</script>
	<script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-23432908-1']); _gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</head>
<body id="{{page.id}}">
	<div id="navigation">
		<a href="./" class="logo"><img class="logo" src="images/logo.png" alt="SWFWire.com"/></a>
		<a href="inspector" class="inspector link">Inspector</a>
		<a href="debugger" class="debugger link">Debugger</a>
		<a href="decompiler" class="decompiler link">Decompiler</a>
		<a href="docs" class="link">Docs</a>

		<a href="http://github.com/magicalhobo/SWFWire" class="link">Source</a>
		<a href="http://github.com/magicalhobo/SWFWire/wiki" class="link">Wiki</a>
		<a href="http://github.com/magicalhobo/SWFWire/issues" class="link">Bugs</a>
	</div>
	<div id="body-background">
		<div id="body">
{{content}}
		</div>
	</div>
	<div id="footer">
		<a href="http://github.com/magicalhobo/SWFWire"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>
		<a href="http://www.metacomments.com/view?url=http://www.swfwire.com/" style="position: fixed; bottom: 10px; right: 10px" title="View Comments"><img alt="Comments" src="http://www.metacomments.com/images/on_site_link.png"></a>
		SWFWire.com &copy; 2011 | Powered by <a href="http://pages.github.com/">GitHub Pages</a> | feedback@swfwire.com
	</div>
</body>
</html>
