<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="A collection of free and open source tools designed for expert Flash developers."/>
	<meta name="google-site-verification" content="BrWF01YVdfLaCwV35DN22sxvo4NJ2XU5P0TzXn6bTlU"/>

	<link type="text/css" media="screen" rel="stylesheet" href="css/global.css"/>
	<link type="text/css" media="screen" rel="stylesheet" href="css/colorbox/colorbox.css" />
	<link type="text/css" media="screen" rel="stylesheet" href="css/shCoreCustom.css" />

	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.colorbox.js"></script>
	<script type="text/javascript" src="js/swfobject.js"></script>
	<script type="text/javascript" src="js/shCore.js"></script>
	<script type="text/javascript" src="js/shBrushAS3.js"></script>
	<script type="text/javascript" src="inspector-badge/install.js"></script>
	<script type="text/javascript" src="debugger-badge/install.js"></script>

	<title>SWFWire - {{page.title}}</title>

	<script type="text/javascript">
		$(document).ready(function(){
			$("a[rel='screenshot']").colorbox({maxWidth: "100%"});
		});
		SyntaxHighlighter.all();
	</script>
	<script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-23432908-1']); _gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</head>
<body id="{{page.id}}">
	<div id="navigation">
		<a href="./" class="logo"><img class="logo" src="images/logo3.png" alt="SWFWire.com"/></a>
		<a href="docs" class="link">Docs</a>
		<a href="http://blog.magicalhobo.com/" class="link">Blog</a>
		<a href="http://github.com/magicalhobo/SWFWire" class="link">Source</a>
		<a href="http://github.com/magicalhobo/SWFWire/wiki" class="link">Wiki</a>
		<a href="http://github.com/magicalhobo/SWFWire/issues" class="link">Bugs</a>
	</div>
	<div id="body-background">
		<div id="body">
{{content}}
		</div>
	</div>
	<div id="footer">
		<a href="http://github.com/magicalhobo/SWFWire"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
		SWFWire.com &copy; 2013 | Powered by <a href="http://pages.github.com/">GitHub Pages</a>
	</div>
</body>
</html>
